.container
  - breadcrumb :profile_user_edit, current_user
  = breadcrumbs separator: " &rsaquo; "
  .profile-title.mt-5
    %h4= I18n.t('profiles.link.change-user')
  .row
    .left-content.col-12.col-lg-9.mt-5
      .card.mb-5
        .card-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
            = render "devise/shared/error_messages", resource: resource
            .label
              = f.label :email
            .form
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form"
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %div
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .label
              = f.label :password
            .form
              = f.password_field :password, autocomplete: "new-password", class: "form-control form"
            .label
              = f.label :password_confirmation
            .form
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form"
            .mt-5.mb-3.text-center
              = f.submit "変更する", class: "btn btn-success  btn-lg"
    
    .right-content.col-12.col-lg-3.mt-5 
      = render 'commons/link' 