.container
  .row
    .col-md-6.offset-md-3
      .card.login
        .card-body
          %h2.login-title 新規登録
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = render "devise/shared/error_messages", resource: resource
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form"
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "new-password", class: "form-control form"
            .field
              = f.label :password_confirmation
              %br/
              = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form"
            .actions
              = f.submit "新規登録", class: "btn btn-success w-100 login-button"
          .login-group.d-flex.mt-3
            = link_to 'ログイン(閲覧用)', users_guest_sign_in_path, method: :post, class: "btn btn-primary w-50 mr-3"
            = link_to 'ログイン',new_user_session_path, class: "btn btn-danger w-50"
