.container
  %ul
    - @comment.errors.full_messages.each do |message|
      %li= message
  .card 
    .card-body
      = form_with(model: @comment, url: event_comments_path(@comment.event), local: true) do |f|
        .label
          = f.label :content, '内容'
        .form
          = f.text_area :content, class: 'form-control'
        = f.submit '保存', class: 'btn btn-success btn-lg post-button'