.container  
  - breadcrumb :guide_post
  = breadcrumbs separator: " &rsaquo; "
  .title
    %h2.guide-title イベントを主催しよう!

.guide-bg.p-4.mt-3.mb-5
  .container
    .guide_post.text-center
      %h4.text-center.mb-5.mt-5 ログイン方法
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p 右上のログインボタンを押してログインページへ
          = image_tag 'guide/guide-login1.png', class: 'guide-image'
        .col-12.col-lg-6
          %p 必要情報を入力してログインしよう！
          = image_tag 'guide/guide-login2.png', class: 'guide-image'

.container
  %h4.text-center.mb-5.mt-5 新規登録方法
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p ログインページの以下のボタンを押して新規登録ページへ
      = image_tag 'guide/guide-signup2.png', class: 'guide-image'
    .col-12.col-lg-6
      %p 必要情報を入力して新規登録しよう！
      = image_tag 'guide/guide-signup1.png', class: 'guide-image'

.guide-bg.p-4.mt-5.mb-5
  .container
    %h4.text-center.mt-5.mb-5 イベント作成
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p ログインできたら上にあるイベント作成ボタンを押して
        = image_tag 'guide/guide-post1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p イベント作成ページへ
        = image_tag 'guide/guide-post2.png', class: 'guide-image'
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p 開催したいイベントの情報を入力して
        = image_tag 'guide/guide-post3.png', class: 'guide-image'
      .col-12.col-lg-6
        %p イベントを作成しよう！
        = image_tag 'guide/guide-post4.png', class: 'guide-image'

.container
  %h4.text-center.mb-5.mt-5 便利な機能(MAP表示)
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p 住所を入力すると
      = image_tag 'guide/guide-map1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p イベント詳細ページでMAPが表示されるよ！
      = image_tag 'guide/guide-map2.png', class: 'guide-image'

.guide-bg.p-4.mt-5.mb-5
  .container
    %h4.text-center.mb-5.mt-5 便利な機能(タグ付け)
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p タグを入力すると
        = image_tag 'guide/guide-tag1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p 検索ページにタグが表示され検索されやすくなるよ！
        = image_tag 'guide/guide-tag2.png', class: 'guide-image'