.container  
  - breadcrumb :guide_post
  = breadcrumbs separator: " &rsaquo; "
  .title
    %h2.guide-title= I18n.t('guide.post.title')

.guide-bg.p-4.mt-3.mb-5
  .container
    .guide_post.text-center
      %h4.text-center.mb-5.mt-5= I18n.t('guide.post.login.title')
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p= I18n.t('guide.post.login.guide1')
          = image_tag 'guide/guide-login1.png', class: 'guide-image'
        .col-12.col-lg-6
          %p= I18n.t('guide.post.login.guide2')
          = image_tag 'guide/guide-login2.png', class: 'guide-image'

.container
  %h4.text-center.mb-5.mt-5= I18n.t('guide.post.signup.title')
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.post.signup.guide1')
      = image_tag 'guide/guide-signup2.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.post.signup.guide2')
      = image_tag 'guide/guide-signup1.png', class: 'guide-image'

.guide-bg.p-4.mt-5.mb-5
  .container
    %h4.text-center.mt-5.mb-5= I18n.t('guide.post.create.title')
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p= I18n.t('guide.post.create.guide1')
        = image_tag 'guide/guide-post1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p= I18n.t('guide.post.create.guide2')
        = image_tag 'guide/guide-post2.png', class: 'guide-image'
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p= I18n.t('guide.post.create.guide3')
        = image_tag 'guide/guide-post3.png', class: 'guide-image'
      .col-12.col-lg-6
        %p= I18n.t('guide.post.create.guide4')
        = image_tag 'guide/guide-post4.png', class: 'guide-image'

.container
  %h4.text-center.mb-5.mt-5= I18n.t('guide.post.map.title')
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.post.map.guide1')
      = image_tag 'guide/guide-map1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.post.map.guide2')
      = image_tag 'guide/guide-map2.png', class: 'guide-image'

.guide-bg.p-4.mt-5.mb-5
  .container
    %h4.text-center.mb-5.mt-5= I18n.t('guide.post.tag.title')
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p= I18n.t('guide.post.tag.guide1')
        = image_tag 'guide/guide-tag1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p= I18n.t('guide.post.tag.guide2')
        = image_tag 'guide/guide-tag2.png', class: 'guide-image'