%ul
  - event.errors.full_messages.each do |message|
    %li= message
.card.mb-5
  .card-body
    = form_with(model: event, local: true) do |f|
      .label
        = f.label :eyecatch, I18n.t('events.form.image')
      .form.text-center
        = image_tag event.eyecatch_image, id: 'preview', class: 'preview-image'
      .form.text-center.mt-5
        = f.file_field :eyecatch, id: 'input-file'
      .label
        = f.label :name, I18n.t('events.form.name')
      .form
        = f.text_field :name, class: 'form-control'
      .label
        = f.label :text, I18n.t('events.form.text')
      .form
        = f.rich_text_area  :text, class: 'form-control'
      .label
        = f.label :store, I18n.t('events.form.store')
      .row
        .form.col-6
          = f.text_field :store, class: 'form-control'
      .label
        = f.label :address, I18n.t('events.form.address')
      .form
        = f.text_field :address, class: 'form-control'
      .label
        = f.label :start_time, I18n.t('events.form.date')
      .row
        .form.col-6
          = f.date_field :start_time, class: 'form-control'
      .label
        = f.label :category_id, I18n.t('events.form.category')
      .row
        .form.col-3
          = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, {class: 'form-control'}
      .label
        = f.label :name, I18n.t('events.form.tag')
      .row.mb-3
        .form.col-6
          = f.text_field :tag_name, value: @tag_list, class: 'form-control'
      %hr
      .mt-5.mb-3
      = f.submit I18n.t('events.form.post'), class: 'btn btn-success btn-lg post-button'


= javascript_pack_tag 'image-preview'
  