%ul
  - event.errors.full_messages.each do |message|
    %li= message
.card.mb-5
  .card-body
    = form_with(model: event, local: true) do |f|
      .label
        = f.label :eyecatch, 'イベント画像'
      .form.text-center
        = image_tag event.eyecatch_image, id: 'preview', class: 'preview-image'
      .form.text-center.mt-5
        = f.file_field :eyecatch, id: 'input-file'
      .label
        = f.label :name, 'イベント名 ※(必須)'
      .form
        = f.text_field :name, class: 'form-control'
      .label
        = f.label :text, 'イベント詳細 ※(必須)' 
      .form
        = f.text_area :text, class: 'form-control'
      .label
        = f.label :prefecture_id, '都道府県'
      .row 
        .form.col-3
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class: 'form-control'}
      .label
        = f.label :store, '開催店舗  ※(未入力の場合未定と表示)'
      .row
        .form.col-6
          = f.text_field :store, class: 'form-control'
      .label
        = f.label :address, '住所 ※(例: 東京都港区六本木○○-○)'
      .form
        = f.text_field :address, class: 'form-control'
      .label
        = f.label :start_time, '開催日 ※(未入力の場合未定と表示)'
      .row
        .form.col-6
          = f.date_field :start_time, class: 'form-control'
      .label
        = f.label :category_id, 'カテゴリ'
      .row
        .form.col-3
          = f.collection_select :category_id, Category.all, :id, :name, {include_blank: "---"}, {class: 'form-control'}
      .label
        = f.label :name, 'タグ'
      .row.mb-3
        .form.col-6
          = f.text_field :tag_name, value: @tag_list, class: 'form-control'
      %hr
      .mt-5.mb-3
      = f.submit '投稿', class: 'btn btn-success btn-lg post-button'


= javascript_pack_tag 'image-preview'
  