.main-visual 
  .main-visual__content 
    .main-visual__title 誰かとゲームできる喜びを！
    .main-visual__lead ゲームセンターでのイベントを主催、検索できるサービス
    .main-visual__button 
      .btn.btn-danger
        = link_to 'イベントを作る', new_event_path, class: 'top-button'
.container
  .card-container
    .title 
      %h2 新着イベント
    .row 
      - @events.each do |event|
        .card-container.col-12.col-md-6.col-lg-3
          = link_to event_path(event) do
            .card.card-main
              = image_tag event.eyecatch_image, class: 'card-image-top card-image'
              .card-body
                %h5.card-title 
                  = event.name
                %p.card-text 
                  = event.display_date
    .more.text-center
      .btn.btn-outline-secondary.mt-3
        = link_to 'もっと見る', events_search_path, class:'more-button'

.service__container.p-4.mt-5
  .container
    .title 
      %h2 サービス
    .row.mb-5
      .col-12.col-md-6.col-lg-6
        .card.mb-4
          .card-body
            .service__title 
              %h3 イベントを作る
            .service__text 
              %p イベントを作成することで誰でも主催者になれます。
              %p 開催日や開催店舗が決まってなくてもOK！
              %p まずは気軽にイベントを作成してみましょう！
            .service__button.mt-5
              .btn.btn-danger 
                = link_to 'いますぐイベントを作成する',new_event_path, class:'service-button'
      .col-12.col-md-6.col-lg-6
        .card
          .card-body
            .service__title 
              %h3 イベントを探す
            .service__text 
              %p 投稿されたイベントを検索してみましょう。
              %p キーワードやタグなど条件で絞り込んで検索もできます。
              %p お気に入りのイベントを見つけて参加しましょう！
            .service__button.mt-5
              .btn.btn-warning
                = link_to 'いますぐイベントを検索する',events_search_path, class:'service-button'





