.container 
  .title
    %h2 イベントを探す
  .row.card-box
    .left-content.col-3.mt-4
      .card
        .card-body
          = search_form_for @q, url: events_search_path do |f|
            %div
              = f.label 'キーワード'
            .search-content
              = f.search_field :name_or_text_or_store_cont, class:'form-control',:placeholder => "キーワードを入力"
            %div
              = f.label '都道府県'
            .search-content
              = f.collection_select :prefecture_id_eq, Prefecture.all,:id,:name,{include_blank: '指定なし'}, {class: 'form-control'}
            %div
              = f.label 'カテゴリ'
            .search-content
              = f.collection_select :category_id_eq, Category.all,:id,:name,{include_blank: '指定なし'}, {class:'form-control'}
            %hr
            = f.submit '検索', class:'"btn btn-dark search-button'
      .card.mt-3.mb-3
        .card-body 
          .tag 
            %p.tag-title タグで検索
            - @tag_lists.each do |list|
              = link_to list.tag_name, events_search_path(tag_id: list.id), class:'border border-dark rounded p-1'
    .right-content.col-9.mt-4
      .sort-container
        %ul.sort
          %li 並び順
          %li
            = link_to '新着', events_search_path(new: 'true'), {class: 'sort-link' "#{'active' if current_page?('/events/search?new=true')}"}
          %li
            = link_to '古い', events_search_path(old: 'true'), {class: 'sort-link' "#{'active' if current_page?('/events/search?old=true')}"}
          %li
            = link_to '参加者数', events_search_path(join: 'true'), {class: 'sort-link' "#{'active' if current_page?('/events/search?join=true')}"}
      - if @events.present?
        - @events.each do |event|
          = render 'commons/event', event: event
      - else 
        %h3 検索結果はありません
  - if @events.present?
    .page.mt-3
      = paginate @events,theme: 'twitter-bootstrap-4'
