.container#event-show{data: {event_id: @event.id}}
  .row 
    .right-card.col-9.mt-5
      .card
        .card-body
          .main-image
            = image_tag @event.eyecatch_image, class: 'event-image'
          .title-field
            .event-title 
              = @event.name
            .clip
              - if user_signed_in?
                .clip__active.hidden.active-clip クリップ中
                .clip__icon.hidden.inactive-clip クリップ
          .text-title イベント詳細
          .card-text.mb-5
            = @event.text
          .event-tag 
            - @event.tags.each do |list|
              = link_to list.tag_name, events_search_path(tag_id: list.id), class:'border border-dark rounded p-1'
          %hr
          - if user_signed_in? && current_user.has_written?(@event)
            .option
              = link_to 'イベント編集', edit_event_path(@event), class: 'btn btn-success edit-button'
              = link_to 'イベント削除', event_path(@event), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger'
          - else
            - if user_signed_in? && current_user.has_joined?(@event)
              = link_to '参加予定', event_join_path(@event), class: 'btn btn-primary btn-lg join-button', data: { method: 'delete' }
            - else
              = link_to '参加する', event_join_path(@event), class: 'btn btn-outline-primary btn-lg join-button', data: { method: 'post' }
      - if user_signed_in?
        .comment-field.mt-5
          %h5 コメント一覧
          .card 
            .card-body
              - @comments.each do |comment|
                .row
                  = link_to  account_path(comment.user) do
                    .comment-avator.col-2.mb-4
                      = image_tag comment.user.avatar_image, class: 'avatar-mini'
                  .comment-text.col-6.d-flex.align-items-center
                    %p= comment.content
        .comment-btn
          = link_to new_event_comment_path(@event) do
            .btn
              コメントを追加

    .left-card.col-3.mt-5
      .card
        .card-body
          .second-title 日程
          .event-date
            = @event.display_date || '未定'
          %hr
          .second-title 参加予定者
          .event-entry 
            = "#{@event.join_count}人"
          %hr
          .second-title 開催店舗
          .event-store 
            = @event.store || '未定'
          %hr
          .second-title.mb-3 作成者
          = link_to account_path(@event.user) do
            .row
              .user-avator.col-5
                = image_tag @event.user.avatar_image, class: 'avatar-normal'
              .user-name.col-6.d-flex.align-items-center
                = @event.user.display_name