.container 
  .row 
    .right-card.col-9.mt-5
      .card
        .card-body
          .main-image
            = image_tag @event.eyecatch_image, class: 'event-image'
          .event-title 
            = @event.name
          .text-title イベント詳細
          .card-text.mb-5
            = @event.text
          .event-tag 
            - @event.tags.each do |list|
              = link_to list.tag_name, events_search_path(tag_id: list.id), class:'border border-dark rounded p-1'
          %hr
          %button.btn.btn-primary.btn-lg.join-button{:type => "button"} 参加する
          

    .left-card.col-3.mt-5
      .card
        .card-body
          .second-title 日程
          .event-date 
            = @event.date
          %hr
          .second-title 参加者
          .event-entry 10人
          %hr
          .second-title 開催店舗
          .event-store 
            = @event.store
      - if user_signed_in? && current_user.has_written?(@event)
        .option
          = link_to 'イベント編集', edit_event_path(@event), class: 'btn btn-success edit-button'
          = link_to 'イベント削除', event_path(@event), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger'