.container#event-show{data: {event_id: @event.id}}
  - breadcrumb :event_show, @event
  = breadcrumbs separator: " &rsaquo; "
  .row 
    .left-card.col-12.col-lg-9.mt-5
      .card.mb-5
        .card-body
          .main-image
            = image_tag @event.eyecatch_image, class: 'event-image'
          .title-field
            .event-title 
              = @event.name
            .clip
              - if user_signed_in?
                .clip__active.hidden.active-clip= I18n.t('events.show.clip-now')
                .clip__icon.hidden.inactive-clip= I18n.t('events.show.clip')
          .text-title= I18n.t('events.show.event-show')
          .card-text.mb-5
            = @event.text
          .event-tag 
            - @event.tags.each do |list|
              = link_to list.tag_name, events_search_path(tag_id: list.id), class:'border border-dark rounded p-1'
          %hr
          - if user_signed_in? && current_user.has_written?(@event)
            .option
              = link_to I18n.t('events.show.edit'), edit_event_path(@event), class: 'btn btn-success edit-button'
              = link_to I18n.t('events.show.delete'), event_path(@event), data: { method: 'delete', confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger'
          - else
            .text-center
              - if @event.status?
                .btn.btn-danger.btn-lg.close-button= I18n.t('events.show.close')
              - else
                .btn.btn-primary.btn-lg.hidden.active-join= I18n.t('events.show.join-now')
                .btn.btn-outline-primary.btn-lg.hidden.inactive-join= I18n.t('events.show.join')
      
    .right-card.col-12.col-lg-3.mt-5
      .card.mb-5
        .card-body
          .second-title= I18n.t('events.show.event-date')
          .event-date
            = @event.display_date
          %hr
          .second-title= I18n.t('events.show.join-number')
          .event-entry 
            = "#{@event.join_count}人"
          %hr
          .second-title= I18n.t('events.show.store')
          .event-store 
            = @event.display_store
          %hr
          .second-title= I18n.t('events.show.category')
          .event-store 
            = @event.category_name
          %hr
          - if @event.address.present?
            .second-title= I18n.t('events.show.address')
            .event-address
              = @event.address
            .mt-2
            = render 'map', event: @event
            %hr
          .second-title.mb-3= I18n.t('events.show.contributor')
          = link_to account_path(@event.user) do
            .row
              .user-avator.col-5
                = image_tag @event.user.avatar_image, class: 'avatar-normal'
              .user-name.col-6.d-flex.align-items-center
                = @event.user.display_name

    .col-12.col-lg-9.mt-5
      .btn.btn-outline-success.show-comment-form
        = I18n.t('events.show.add-comment')
      .comment-container.hidden
        = form_with(model:[@event, @comment], local:true) do |f|
          .form
            = f.text_area :content, placeholder: I18n.t('events.show.comment-place'), class: 'form-control'
          .text-right
            = f.submit I18n.t('events.show.btn'), class: 'btn btn-dark'

      - if user_signed_in? && @comments.present?
        .comment-field.mt-5.mb-5
          %h5= I18n.t('events.show.comment-list')
          .card 
            .card-body
              - @comments.each do |comment|
                .row
                  = link_to  account_path(comment.user) do
                    .comment-avator.col-2.mb-3
                      = image_tag comment.user.avatar_image, class: 'avatar-mini'
                  .comment-text.col-6.d-flex.align-items-center
                    %p= comment.content