= link_to event_path(event) do
  .card.mb-4
    .row
      .col-md-4
        = image_tag event.eyecatch_image, class: 'card-image-top card-image'
      .col-md-8
        .card-body
          .event-title 
            = event.name
          .event-date.mb-4.text-muted
            - if event.status?
              %span.border.p-1.status 終了しました
            - else
              = event.display_date
          - if event.tags.present?
            %object
              - event.tags.each do |list|
                = link_to list.tag_name, events_search_path(tag_id: list.id), class:'border border-dark rounded p-1'