.card 
  .link-title= I18n.t('profiles.link.my-page')
  .card-body
    .profile-link
      = link_to 'TOP', profile_path
    %hr
    .profile-link
      = link_to I18n.t('profiles.link.clip'), clip_events_path
    %hr
    .profile-link
      = link_to I18n.t('profiles.link.join'), join_events_path
    %hr
      .profile-link
        = link_to I18n.t('profiles.link.message'), rooms_path
    %hr
    .profile-link
      = link_to I18n.t('profiles.link.change-profile'), edit_profile_path
    %hr
    .profile-link
      = link_to I18n.t('profiles.link.change-user'), edit_user_registration_path
    %hr 
    .profile-link 
      = link_to I18n.t('profiles.link.withdrawal'), unsubscribe_path(current_user)