.card 
  .link-title マイページ
  .card-body
    .profile-link
      = link_to 'TOP', profile_path
    %hr
    .profile-link
      = link_to 'クリップ', clip_events_path
    %hr
    .profile-link
      = link_to '参加予定', join_events_path
    %hr
    .profile-link
      = link_to 'プロフィール変更', edit_profile_path
    %hr
    .profile-link
      = link_to 'ユーザー情報変更', edit_user_registration_path
    %hr 
    .profile-link 
      %a{:href => "#"} 退会