.container
  - breadcrumb :event_calendar
  = breadcrumbs separator: " &rsaquo; "
  .title 
    %h2= I18n.t('events.calendar.event-calendar')
  = month_calendar events: @events do |date, events|
    = date.day
    - events.each do |event|
      .calendar-link-box
        - if event.status?
          = link_to ("#{event.name}(終)"), event_path(event), class: 'calendar-link'
        - else
          = link_to ("#{event.name}"), event_path(event), class: 'calendar-link'