.simple-calendar
  .calendar-heading.text-center.mb-4
    .month-button
      = link_to t('simple_calendar.previous', default: I18n.t('events.calendar.before')), calendar.url_for_previous_view, class: 'btn btn-outline-dark'
    %h3.calendar-title
      = t('date.month_names')[start_date.month]
      = start_date.year
    .month-button
      = link_to t('simple_calendar.next', default: I18n.t('events.calendar.next')), calendar.url_for_next_view, class: 'btn btn-outline-dark'
  %table.table.table-striped
    %thead
      %tr
        - date_range.slice(0, 7).each do |day|
          %th= t('date.abbr_day_names')[day.wday]
    %tbody
      - date_range.each_slice(7) do |week|
        %tr
          - week.each do |day|
            = content_tag :td, class: calendar.td_classes_for(day) do
              - if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block)
                - capture_haml(day, sorted_events.fetch(day, []), &passed_block)
              - else
                - passed_block.call day, sorted_events.fetch(day, [])
