.container
  .row
    .col-md-6.offset-md-3
      .card.login
        .card-body
          %h2.login-title ログイン
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :メールアドレス
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form"
            .field
              = f.label :パスワード
              %br/
              = f.password_field :password, autocomplete: "current-password", class: "form-control form"
            .actions
              = f.submit "ログイン", class: "btn btn-success w-100 login-button"
          = link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post 
          = render "devise/shared/links"
