.container
  - breadcrumb :user_login
  = breadcrumbs separator: " &rsaquo; "
  .row
    .col-md-6.offset-md-3
      .card.login
        .card-body
          %h2.login-title= I18n.t('auth.login')
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .field
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form"
            .field
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "current-password", class: "form-control form"
            .actions
              = f.submit I18n.t('auth.login'), class: "btn btn-danger w-100 login-button"
            .row.mt-2
              .col-12.col-lg-6.mb-2
                = link_to I18n.t('auth.guests'), users_guest_sign_in_path, method: :post, class: "btn btn-primary w-100"
              .col-12.col-lg-6
                = link_to I18n.t('auth.new'),new_user_registration_path, class: "btn btn-success w-100"
