.container  
  - breadcrumb :guide_search
  = breadcrumbs separator: " &rsaquo; "
  .title
    %h2.guide-title イベントを探そう！

.guide-bg.p-4.mt-3.mb-5
  .container
    .guide.text-center
      %h4.text-center.mb-5.mt-5 イベント検索のやり方
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p ヘッダーのイベントを探すを押すと
          = image_tag 'guide/guide-search1.png', class: 'guide-image'
        .col-12.col-lg-6
          %p イベント検索ページへ
          = image_tag 'guide/guide-search2.png', class: 'guide-image'
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p 左の検索フォームやカテゴリ、タグ検索を使ってイベントを見つけよう！
          = image_tag 'guide/guide-search3.png', class: 'guide-image'
        .col-12.col-lg-6
          %p 並び替え機能もあるよ！
          = image_tag 'guide/guide-search4.png', class: 'guide-image'

.container
  %h4.text-center.mt-5.mb-5 イベントが見つかったら
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p 検索画面からイベントを押してイベント情報ページへ
      = image_tag 'guide/guide-join1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p 参加ボタン、クリップボタンを押そう！
      = image_tag 'guide/guide-join2.png', class: 'guide-image'
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p 参加、クリップしたイベントを確認するときはマイページへ
      = image_tag 'guide/guide-join3.png', class: 'guide-image'
    .col-12.col-lg-6
      %p マイページメニューバーの以下の部分から確認できるよ！
      = image_tag 'guide/guide-join4.png', class: 'guide-image'

.guide-bg.p-4.mt-3.mb-5      
  .container
    %h4.text-center.mb-5.mt-5 イベントにコメント
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p イベント情報ページのコメント追加ボタンを押すと
        = image_tag 'guide/guide-comment1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p コメントができるよ！
        = image_tag 'guide/guide-comment2.png', class: 'guide-image'


.container
  %h4.text-center.mb-5.mt-5 主催者に質問等ある場合
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p イベント情報ページの主催者のアイコンを押してユーザーページへ
      = image_tag 'guide/guide-dm1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p ユーザーページ右のメッセッージボタンを押してメッセージページへ
      = image_tag 'guide/guide-dm2.png', class: 'guide-image'
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p メッセージページから主催者にメッセージが送れるよ！
      = image_tag 'guide/guide-dm3.png', class: 'guide-image'
    .col-12.col-lg-6
      %p 過去のメッセージ履歴はマイページから見れるよ！
      = image_tag 'guide/guide-dm4.png', class: 'guide-image'