.container  
  - breadcrumb :guide_search
  = breadcrumbs separator: " &rsaquo; "
  .title
    %h2.guide-title= I18n.t('guide.search.title')

.guide-bg.p-4.mt-3.mb-5
  .container
    .guide.text-center
      %h4.text-center.mb-5.mt-5= I18n.t('guide.search.how.title')
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p= I18n.t('guide.search.how.guide1')
          = image_tag 'guide/guide-search1.png', class: 'guide-image'
        .col-12.col-lg-6
          %p= I18n.t('guide.search.how.guide2')
          = image_tag 'guide/guide-search2.png', class: 'guide-image'
      .row.mb-5.text-center
        .col-12.col-lg-6.mb-5
          %p= I18n.t('guide.search.how.guide3')
          = image_tag 'guide/guide-search3.png', class: 'guide-image'
        .col-12.col-lg-6
          %p= I18n.t('guide.search.how.guide4')
          = image_tag 'guide/guide-search4.png', class: 'guide-image'

.container
  %h4.text-center.mt-5.mb-5= I18n.t('guide.search.after.title')
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.search.after.guide1')
      = image_tag 'guide/guide-join1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.search.after.guide2')
      = image_tag 'guide/guide-join2.png', class: 'guide-image'
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.search.after.guide3')
      = image_tag 'guide/guide-join3.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.search.after.guide4')
      = image_tag 'guide/guide-join4.png', class: 'guide-image'

.guide-bg.p-4.mt-3.mb-5      
  .container
    %h4.text-center.mb-5.mt-5= I18n.t('guide.search.comment.title')
    .row.mb-5.text-center
      .col-12.col-lg-6.mb-5
        %p= I18n.t('guide.search.comment.guide1')
        = image_tag 'guide/guide-comment1.png', class: 'guide-image'
      .col-12.col-lg-6
        %p= I18n.t('guide.search.comment.guide2')
        = image_tag 'guide/guide-comment2.png', class: 'guide-image'


.container
  %h4.text-center.mb-5.mt-5= I18n.t('guide.search.dm.title')
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.search.dm.guide1')
      = image_tag 'guide/guide-dm1.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.search.dm.guide2')
      = image_tag 'guide/guide-dm2.png', class: 'guide-image'
  .row.mb-5.text-center
    .col-12.col-lg-6.mb-5
      %p= I18n.t('guide.search.dm.guide3')
      = image_tag 'guide/guide-dm3.png', class: 'guide-image'
    .col-12.col-lg-6
      %p= I18n.t('guide.search.dm.guide4')
      = image_tag 'guide/guide-dm4.png', class: 'guide-image'