.container 
  - breadcrumb :message, current_user
  = breadcrumbs separator: " &rsaquo; "
  .title
    %h2 
      = ("#{@another.user.display_name} #{I18n.t('profiles.message.title')}")

  .card
    .card-body.chats
      .chat
        - @messages.each do |m|
          - if m.user_id == current_user.id
            .mycomment
              %p 
                = m.body
          - else 
            .fukidasi
              .faceicon 
                = image_tag m.user.avatar_image
              .chatting
                .says
                  %p 
                    = m.body
    %hr
    .chat-form-box.mb-4.mt-3
      = form_for @message do |f|
        .chat-form-group
          = f.text_field :body, :placeholder => I18n.t('profiles.message.text-place') ,class: 'form-control chat-form'
          = f.hidden_field :room_id, :value => @room.id
          = f.submit I18n.t('profiles.message.btn'), class: 'btn btn-outline-success ml-3'