!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ArcadeEvent
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-4
      %a.navbar-brand{:href => "#"} Event
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            %a.nav-link{:href => "#"} イベントを探す
          %li.nav-item
            %a.nav-link{:href => "#"} イベントを作成する
        - if user_signed_in?
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link{:href => "#"} マイページ
            %li.nav-item
              = link_to 'ログアウト', destroy_user_session_path, data: { method: 'delete' }, class: "nav-link"
        - else
          = link_to 'ログイン', new_user_session_path, class: 'btn btn-danger'
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{:class => key}= value
    = yield
